body {
    text-align: center;
    background-color: aliceblue;
}

#input-pesquisar {
    border: none;
    border-bottom: 1px solid #000;
    width: 20rem;
    padding-left: 1rem;
    outline: none;
    background-color: transparent;
}

.pesquisa-container {
    padding-right: 5rem;
    padding-left: 5rem;  
    padding-bottom: 10rem;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
    height: 35rem;
}

.altura {
    height: 90vh;
}

#titulo {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 50px;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
}

.amarelo {
    color: rgb(214, 214, 69);
}

.azul {
    color: rgb(85, 85, 255);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

li {
    margin-right: 3rem;
}

a {
    text-decoration: none;
    color: #000;
    display: flex;
    font-size: 20px;
}

a:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.pokemon-container {
    width: 30rem;
    border: 1px solid #000;
    height: 35rem;
    margin-left: 3rem;
    border-radius: 5px;
    background-color: #fff;
}

.div-imagem {
    border: 1px solid #000;
    width: 20rem;
    height: 20rem;
    margin-top: 1.5rem;
    background-color: green;
    box-shadow: 0 0 10px 0 #444444;
}

.imagem-pokemon {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    object-position: center;
}

.informacoes {
    margin-left: 5rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}